@tailwind base;
@tailwind components;
@tailwind utilities;



#main-bg{
    background-image: linear-gradient(
        #B2D6C7 0%,
        #B2D6C7 40%,
        #EBF1F2 40%,
        #EBF1F2 100%
    )
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
    